<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

	<context:annotation-config />
	<bean name="human" class="com.app.Human" />
	<bean name="humanHeart" class="com.app.Heart" >
	<property name="nameOfAnimal" value="human" />
	<property name="noOfHearts" value="1" />
	
	</bean>
	<bean name="octopusHeart" class="com.app.Heart" >
	<property name="nameOfAnimal" value="octopus" />
	<property name="noOfHearts" value="3" />
	
	</bean>


</beans>